@import './global/_null';
@import './global/_variables';
@import './global/_spacing';

@import './components/_buttons';
@import './components/_dialog';

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}