<button type="button" onclick="modalDialog.showModal()">Show Dialog</button>

<dialog id="modalDialog" class="dialog">
    <div class="dialog__content">
        <div class="dialog__content--header">
            <button 
                class="dialog__content--header-close"
                type="button" 
                onclick="modalDialog.close()" 
            >
            </button>
        </div>
        <div class="dialog__content--body"></div>
        <div class="dialog__content--footer"></div>
    </div>
</dialog>
